@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   
        @Html.AntiForgeryToken()


<li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-menu d-none d-lg-block" }))
    {<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>}
</li>
    
}


else
{
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
